<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" th:align="center">
		<tr>
			<th>编号</th>
			<th>姓名</th>
			<th>年龄</th>
			<th>生日</th>
			<th>操作</th>
		</tr>
		<tr th:each="s,iterstat:${list}" align="center">
			<td th:text="${s.sid}"></td>
			<td th:text="${s.sname}"></td>
			<td th:text="${s.sage}"></td>
			<td th:text="${s.sbirth}"></td>
			<td>
				<a href="#">修改</a>
				<a href="#">删除</a>
			</td>
		</tr>
	</table>
</body>
</html>